/* Dashboard.css */

.dashboard {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #4f452c;
  min-height: 80vh;
  
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #817547;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 30px;
  height:150px;
}

.dashboard-header h2 {
  font-size: 2.5em;
}

.dashboard-header p {
  margin-right:20%;
  text-align:start;
}

.stats {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 50%;
  margin-left: 50%;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.no-projects {
  text-align: center;
  color: #666;
}

.btn-primary {
  font-size: 1em;
  margin-left: 90%;
  padding: 12px 10px;
  background-color: #805a1dc0;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
