/* Dashboard.css */

.dashboard {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #b88b5c;
  min-height: 80vh;
  
}

.dashboard-header h2 {
  font-size: 2.5em;
}

.dashboard-header p {
  margin-right:20%;
  text-align:start;
}

.stats {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 50%;
  margin-left: 50%;
  
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.no-projects {
  text-align: center;
  color: #666;
}

.btn-primary {
  font-size: 1em;
  padding: 12px 10px;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
