/* RecentProjects.css */

.recent-projects {
  padding: 20px;
  background-color: #533d2c;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 2%;
}
 h2{
  color: white;
  text-align: center;
  margin-bottom: 22px;
 }

.table-controls {
  justify-content: space-between;
  margin-bottom: 20px;
}

.table-controls .form-control {
  width: 50%;
  color: white;
  background-color: #76675a;
  border-color: rgba(0, 0, 0, 0.18);
}

.table-controls .boton-agregar {
  background-color: #76675a;
  border-color: #33333324;
  border-radius: 8px;
  margin-top: -5%;
  width:max-content;
  margin-left: 89%;
}

.table thead th {
  text-align: center;
  background-color: #907761;
}

.table tbody td {
  vertical-align: middle;
  text-align: center;
  color: black;
  background-color: #624b3b;
}

.project-name {
  font-weight: bold;
  font-size: 1.2em;
  color: black
}

.project-status {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 1em;
  color:black;
  text-align: center;
  text-transform: capitalize;
}

.project-status.in-progress {
  background-color: #ffc107;
  margin-right: 20px;
  width: 180px;
}

.project-status.completed {
  background-color: #28a745;
  margin-left: 35px;
  width:180px;
}

.project-status.pending {
  background-color: #dc3545;
  margin-right: 45px;
  width: 180px;
}

.project-updated {
  font-size: 0.95em;
  color: white;
  margin-top: 5px;
}

